.card__container{
  min-width: 350px;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 4px 10px #aaaaaa;

  h3{
    font-size: 18px;
  }

  h2{
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
  }
  

  .card__subInfo{
    display: flex;
    justify-content: space-between;

    p:first-child{
      color: #aaaaaa;
    }
  }
}
