*{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}


.app-container {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}


html, body{
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}


main{
  width: 100%;
  position: relative;

}
.app-section-container{
  width: 95%;
  position: relative;
  top: 20px;
  left: 45px;
}

.app-container-card{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.mt-1{
  margin-top: 5px;
}

.mt-5{
  margin-top: 20px;
}

.mb-1{
  margin-bottom: 5px;
}

.mb-5{
  margin-bottom: 20px;
}

.pointer{
  cursor: pointer;
}

.custom-shadow {
  @apply shadow-lg; /* Si quieres usar sombras predefinidas de Tailwind */
  box-shadow: 5px 4px 10px #aaaaaa;
}


